.flip {
    margin: 30px;
    padding: 10px;
}

h1 {
    text-transform: uppercase;
}

.color {
    border-style: dashed;
    text-align: center;
}

#btn {
    font-size: 2rem;
    border-radius: 20%;
    text-transform: capitalize;
    margin-top: 4rem;
}